<%= form_for(@todo_list) do |f| %>
  <% if @todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% @todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new-form col-md-4 col-md-offset-4">
    <div class="form-group ">
      <%= f.label :title, class: "form-label" %><br>
      <%= f.text_field :title, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "form-label" %><br>
      <%= f.text_area :description, class: "form-control"%>
    </div>
    <div>
      <%= f.submit "Submit", class: "btn btn-success new-btn btn-lg"%>
    </div>
  </div>

<% end %>
