<div class="container col-md-6 col-md-offset-3 todo_list">
  <p id="notice"><%= notice %></p>
  <h1 class="todo_list_title"><%= @todo_list.title %></h1>
  <h3 class="todo_list_sub_title"><%= @todo_list.description %></h3><hr>

  <div id="todo_items_wrapper" class="col-md-10 col-md-offset-1">
    <%= render @todo_list.todo_items %>
    <div id="form">
      <%= render "todo_items/form" %>
    </div>
  </div>

  <div class="links">
    <%= button_tag "Edit", :type => 'button', :class => "btn btn-info links", :onclick => "location.href = '#{edit_todo_list_path(@todo_list)}'" %>
    <%= button_tag "Delete", :type => 'button', :class => "btn btn-danger links", :method => :delete, :action => 'destroy', :onclick => "location.href = '#{todo_list_path(@todo_list)}'" %>
    <%= button_tag "Back", :type => 'button', :class => "btn btn-warning links", :onclick => "location.href = '#{todo_lists_path}'" %>

  </div>
</div>
